@model Post
@using CollabApp.mvc.Models
@using static CollabApp.mvc.Utilities.FileHelper
@using Markdig

@{
    Layout = "/Views/Shared/_Layout.cshtml";
    string title = Model?.Title ?? "Default Title";
}

<!DOCTYPE html>
<html>
<body>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-9">
                        <p class="card-text text-start">
                            Posted by @Model?.Author.Username
                            @{
                                var howManyDaysAgo = DateTime.Now - Model.DatePosted;
                                var daysAgo = (int)howManyDaysAgo.TotalDays;
                                var hoursAgo = (int)howManyDaysAgo.TotalHours;
                                if (daysAgo == 0)
                                {
                                    @: @hoursAgo hours ago
                                }
                                else if (daysAgo == 1)
                                {
                                    @: Yesterday
                                }
                                else
                                {
                                    @: @daysAgo days ago
                                }
                            }
                        </p>
                    </div>
                    <div class="col-md-3">
                        @if (Context.Session.GetInt32("UserId") == Model.AuthorId)
                        {
                            <div class="row justify-content-end">
                                <div class="col">
                                    <form asp-controller="Post" asp-action="Edit" asp-route-id="@Model.Id" method="get" class="d-inline">
                                        <button type="submit" class="btn btn-success btn-sm btn-edit-delete">Edit</button>
                                    </form>
                                </div>
                                <div class="col">
                                <form asp-controller="Post" asp-action="Delete" asp-route-id="@Model.Id" method="post" onsubmit="return confirm('Are you sure you want to delete this post?');" class="d-inline">
                                    <button type="submit" class="btn btn-danger btn-sm btn-edit-delete">Delete</button>
                                </form>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <h2 class="card-text text-start">@title</h2>
                @if (Model.IsQuestion)
                {
                    <p class="question-label">[This post is a question.]</p>
                }
                <p class="card-text text-start">
                    @Html.Raw(Markdown.ToHtml(Model?.Description ?? "No Description"))
                </p>

            <div class="container">
                @{
                    var files = (ViewData["Attachments"] as List<Attachment>);
                }
                @if (@Model != null && files != null)
                {
                    @foreach (var file in files)
                    {
                        if (file.FileType.IsPdfFile())
                        {
                            <iframe src="@file.SignedUrl" class="pdf-preview"></iframe>
                            <a href="@file.SignedUrl" target="_blank" class="btn btn-primary">Open PDF in New Tab</a>
                        }
                        else if (file.FileType.IsAudioFile())
                        {
                            <audio controls class="audio-preview">
                                <source src="@file.SignedUrl">
                                Your browser does not support the audio element.
                            </audio>
                        }
                        else if (file.FileType.IsVideoFile())
                        {
                            <video controls class="video-preview">
                                <source src="@file.SignedUrl">
                                Your browser does not support the video tag.
                            </video>
                        }
                        else if (file.FileType.IsImageFile())
                        {
                            <div class="post-image">
                                <img src="@file.SignedUrl" class="figure-img img-fluid rounded" alt="@file.FileName">
                            </div>
                        }
                        else
                        {
                            <a href="@file.SignedUrl" download="@file.FileName">@file.FileName</a>
                        }
                    }
                }
            </div>
        </div>
        </div>


        @if (!string.IsNullOrEmpty(TempData["ErrorMessage"] as string))
        {
            <div class="alert alert-danger mt-3">
                @TempData["ErrorMessage"]
            </div>
        }

        <div class="mt-4">
            @{
                var comments = (ViewData["Comments"] as List<Comment>)?.OrderByDescending(c => c.Rating);
            }
            @if (Model != null && comments != null && comments.Any())
            {
                <ul class="list-group">
                    @foreach (var comment in comments)
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-left">
                            <div>
                                <p class="card-text text-muted">@comment.Author?.Username | @comment.DatePosted</p>
                                <p class="card-text text-start">@comment.Description</p>
                            </div>
                            <div>
                                <form asp-controller="Post" asp-action="ChangeRating" method="post">
                                    <input type="hidden" name="postId" value="@Model.Id" />
                                    <input type="hidden" name="commentId" value="@comment.Id" />
                                    <input type="hidden" name="rating" value="@RatingOption.Upvote" />
                                    <button type="submit" class="btn btn-sm btn-outline-success mb-1">+</button>
                                </form>
                                <span>@comment.Rating</span>
                                <form asp-controller="Post" asp-action="ChangeRating" method="post">
                                    <input type="hidden" name="postId" value="@Model.Id" />
                                    <input type="hidden" name="commentId" value="@comment.Id" />
                                    <input type="hidden" name="rating" value="@RatingOption.Downvote" />
                                    <button type="submit" class="btn btn-sm btn-outline-danger mt-1">-</button>
                                </form>
                            </div>
                        </li>
                    }
                </ul>
            }
            else
            {
                <p>No comments available.</p>
            }
        </div>


        <div class="mt-4">
            <h3>Add a Comment</h3>
            <form asp-controller="Post" asp-action="AddComment" method="post">
                <input asp-for="AuthorId" type="hidden" value="@Context.Session.GetInt32("UserId")" />
                <input asp-for="Id" type="hidden" />
                <div class="form-floating">
                    <input type="text" id="commentDescription" name="commentDescription" class="form-control" placeholder="Comment text" />
                    <label for="commentDescription">Comment text</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger mt-3">
                    @ViewBag.ErrorMessage
                </div>
            }
        </div>
    </div>
</body>
</html>
